/* @theme my-custom-theme */

section {
  width: 1280px;
  height: 720px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-size: 30px;
  padding: 40px;
}

h1 {
  color: #f5c2e7;
  text-align: center;
}

code {
  background: #313244;
  color: #fab387;
}